//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define MOO  3

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE LEFT_ARROW DOWN_ARROW UP_ARROW RIGHT_ARROW HOME END PAGE_DOWN PAGE_UP MINUS LEFT_SHIFT RIGHT_SHIFT>; };

&mt { tapping-term-ms = <150>; };

&sk {
    quick-release;
    lazy;
};

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp RET>;
            key-positions = <16 17>;
        };

        c-b {
            bindings = <&kp LC(B)>;
            key-positions = <12 17>;
        };

        escape {
            bindings = <&mm_escape>;
            key-positions = <12 13>;
        };
    };

    behaviors {
        mt_left: mt_left {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 32 33 34 35 37 36>;
            require-prior-idle-ms = <100>;
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
        };

        mt_right: mt_right {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <100>;
            tapping-term-ms = <250>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 22 23 24 25 20 21 32 33 34 35 36 37>;
            quick-tap-ms = <150>;
        };

        comma_semicolon: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        period_colon: period_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "PERIOD_COLON";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        cmd_tab: cmd_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "CMD_TAB";
            bindings = <&kp TAB>, <&kp F21>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
            keep-mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        cmd_stb: cmd_stb {
            compatible = "zmk,behavior-mod-morph";
            label = "CMD_STB";
            bindings = <&kp LS(TAB)>, <&kp F22>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };

        bs_del: bs_del {
            compatible = "zmk,behavior-mod-morph";
            label = "BS_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mt_bs_del: mt_bs_del {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_BS_DEL";
            bindings = <&mo>, <&bs_del>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        caps: caps {
            compatible = "zmk,behavior-mod-morph";
            label = "CAPS";
            bindings = <&caps_word>, <&kp CAPSLOCK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_escape: mm_escape {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_ESCAPE";
            bindings = <&kp ESCAPE>, <&double_escape>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bwd_dwd: bwd_dwd {
            compatible = "zmk,behavior-mod-morph";
            label = "BWD_DWD";
            bindings = <&kp LA(BACKSPACE)>, <&kp LA(DEL)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mt_bwd_dwd: mt_bwd_dwd {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_BWD_DWD";
            bindings = <&mo>, <&bwd_dwd>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };
    };

    macros {
        double_escape: double_escape {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESCAPE &kp ESCAPE>;
            label = "DOUBLE_ESCAPE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Z     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     -     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃     Y     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃    TAB    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃  SK SHFT  ┃    MO1    ┃    ESC    ┃   ┃   SPACE   ┃    MO2    ┃   ENTER   ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                &kp Q  &kp W  &kp E  &kp R           &kp T        &kp Y      &kp U           &kp I             &kp O          &kp P
                &kp A  &kp S  &kp D  &kp F           &kp G        &kp H      &kp J           &kp K             &kp L          &mt LC(LA(LEFT_GUI)) SLASH
&sk LEFT_SHIFT  &kp Z  &kp X  &kp C  &kp V           &kp B        &kp N      &kp M           &comma_semicolon  &period_colon  &kp MINUS                   &sk RIGHT_SHIFT
                              &caps  &mt_bs_del 1 0  &kp SPACE    &kp SPACE  &mt_bs_del 2 0  &caps
            >;
        };

        left {
            bindings = <
        &kp N1                  &kp N2          &kp N3           &kp N4          &kp N5           &kp N6    &kp N7           &kp N8     &kp N9     &kp N0
        &mt LG(LC(LALT)) LG(A)  &mt LALT LG(S)  &mt LCTRL LG(D)  &mt LGUI LG(F)  &kp LG(G)        &kp LEFT  &kp DOWN         &kp UP     &kp RIGHT  &cmd_tab
&trans  &kp LG(Z)               &kp LG(X)       &kp LG(C)        &kp LG(V)       &kp LS(LG(Z))    &kp HOME  &kp PG_DN        &kp PG_UP  &kp END    &cmd_stb  &none
                                                &none            &trans          &none            &trans    &mt_bwd_dwd 3 0  &trans
            >;
        };

        right {
            bindings = <
       &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)         &kp LS(N4)             &kp LS(PRCNT)          &kp CARET          &kp LS(AMPS)       &kp LS(STAR)             &kp PLUS             &kp GLOBE
       &kp BSLH      &kp LS(LBRC)   &kp LBKT              &kp RBKT               &kp LG(RIGHT_BRACE)    &kp EQUAL          &mt RGUI GRAVE     &mt RCTRL DOUBLE_QUOTES  &mt RALT SQT         &mt LG(LC(LALT)) TILDE
&none  &kp PIPE      &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN       &kp LG(LC(LA(N)))  &kp LG(LC(LA(M)))  &kp LG(LC(LA(COMMA)))    &kp LG(LC(LA(DOT)))  &kp LG(LC(LA(SLASH)))   &none
                                    &trans                &mt_bwd_dwd 3 0        &trans                 &none              &trans             &none
            >;
        };

        middle {
            bindings = <
       &kp F1                                  &kp F2                             &kp F3                          &kp F4                            &kp F5     &kp F6   &kp F7                           &kp F8                  &kp F9                    &kp F10
       &mt LS(LA(LC(LEFT_GUI))) LG(LC(LA(A)))  &mt LS(LEFT_ALT) C_BRIGHTNESS_DEC  &mt LS(LEFT_CONTROL) C_BRI_INC  &mt LS(LEFT_GUI) LA(LC(LG(TAB)))  &none      &none    &mt RS(RIGHT_GUI) C_VOLUME_DOWN  &mt RS(RCTRL) C_VOL_UP  &mt RS(RIGHT_ALT) K_MUTE  &mt LC(LA(LS(LEFT_GUI))) LA(LC(LG(SLASH)))
&none  &kp F11                                 &kp F12                            &kp F13                         &kp F14                           &kp F15    &kp F16  &kp F17                          &kp F18                 &kp F19                   &kp F20                                     &none
                                                                                  &none                           &trans                            &none      &none    &trans                           &none
            >;
        };
    };
};
